  <div class="wrapper">
    <form class="form-signin" novalidate>       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" placeholder="Email Address" required="" ng-model="loginData.email" />
      <input type="password" class="form-control" placeholder="Password" required="" style="margin-top:5px;" ng-model="loginData.password"/>      
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()" style="margin-top:5px;">Login</button>   
    </form>
  </div>